DB_URL=jdbc:mysql://localhost:3306/arenagamer?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=root
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
JWT_SECRET=arenaGamerSecretKey2024SuperSecureKeyThatIsLongEnough256bits!!
JWT_ACCESS_EXPIRATION=3600
JWT_REFRESH_EXPIRATION=604800
SERVER_PORT=8080
